
<div id="report-title"><h1></h1></div>
<table class="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id Denominacion</th>
            <td><%= record.id_denominacion %></td>
        </tr>
        <tr>
            <th>Nivel Denom</th>
            <td><%= record.nivel_denom %></td>
        </tr>
        <tr>
            <th>Desc Denominacion</th>
            <td><%= record.desc_denominacion %></td>
        </tr>
        <tr>
            <th>Haber Basico</th>
            <td><%= record.haber_basico %></td>
        </tr>
        <tr>
            <th>Codgestion</th>
            <td><%= record.codgestion %></td>
        </tr>
        <tr>
            <th>Nro Items</th>
            <td><%= record.nro_items %></td>
        </tr>
        <tr>
            <th>Fuente</th>
            <td><%= record.fuente %></td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td><%= record.categoria %></td>
        </tr>
        <tr>
            <th>Costo Mensual</th>
            <td><%= record.costo_mensual %></td>
        </tr>
        <tr>
            <th>Estado</th>
            <td><%= record.estado %></td>
        </tr>
    </tbody>
</table>
